<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/s1.css">
</head>
<body>
<div class="c1">
<form action="/login/" method="post">
{#    <input type="text"  name="user" placeholder="用户名">#}
{#    <input type="password" name="pwd" placeholder="用户名">#}
{#    <input type="submit" value="提交">#}
{#    男<input type="radio" value="男" name="sex">#}
{#    女<input type="radio" value="女" name="sex"><br>#}
    <p>
    唱歌:<input type="checkbox" value="11" name="like">
    跳舞:<input type="checkbox" value="22" name="like">
    </p>
    <input type="submit" value="提交">

</form>
</div>
</body>
</html>